@font-face {
  font-family: 'iconfont';  /* project id 2313314 */
  src: url('//at.alicdn.com/t/font_2313314_m4iuaovt4w.eot');
  src: url('//at.alicdn.com/t/font_2313314_m4iuaovt4w.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_2313314_m4iuaovt4w.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_2313314_m4iuaovt4w.woff') format('woff'),
  url('//at.alicdn.com/t/font_2313314_m4iuaovt4w.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_2313314_m4iuaovt4w.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-project:before {
  content: "\e609";
}

